/public/hot
/public/storage
/storage/*.key
/storage/*
/public/images/logo.gif
/bootstrap/custom_helpers.php
/config/fenlei.php
/routes/custom.php
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
